<%- include("partials/header") %>

<div class="ui main text container ">
    <div class= "ui huge header "><%=blog.title%> Made By <%=blog.author.username%></div>
    <div class="ui top attached segment">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>" >
            <div class="content">
                <span><%=blog.created.toDateString()%></span>
            </div>
            <div class="description">
                <p><%- blog.body %></p>
            </div>
            <% if(currentUser){ %>
               <% if(blog.author.id.equals(currentUser._id)){ %>
            <a class="ui big black button" href="/blogs/<%=blog._id%>/edit">Edit</a>
            
            <form id="delete" action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
                <button class="ui big black button">Delete</button>
            </form>
            <%}}%>
        </div>
    </div>
</div>

<div class="ui main text container ">
    <div class= "ui huge header ">COMMENTS</div>
    <div class="text-right">
        <a class="btn btn-success" href="/blogs/<%=blog._id%>/comments/new">Add new comment</a>
    </div>
    <div class="ui top attached segment">
        <% blog.comments.forEach(function(comment){ %>
            <div class="item">
            <div class="col-md-12">
                <%=comment.author.username%>
                <p>
                    <%=comment.text %> 
                </p>
                <% if(currentUser){ %>
                    <% if(comment.author.id.equals(currentUser._id)){ %>
                <a class="ui big black button" href="/blogs/<%=blog._id%>/comments/<%=comment._id%>/edit">Edit</a>
                <form  action="/blogs/<%=blog._id%>/comments/<%=comment._id%>?_method=DELETE" method=POST>
                    <input type="submit" value="delete">
                </form>
                <%}}%>
            </div>
        </div>
        <% }) %>
    </div>
</div>

<%- include("partials/footer") %>